<span id="atom-config"
      data-save-url="{{ url('atom_save') }}"
      data-locale="{{ app.request.locale }}">
</span>
<span id="atom-entity-config"
      data-editable="{{ editable }}"
      data-save-url="{{ url('atom_entity_save') }}"
      data-locale="{{ app.request.locale }}">
</span>